server:
  port: 8081
spring:
  application:
    name: mod-circulation-item
  datasource:
    username: ${DB_USERNAME:folio_admin}
    password: ${DB_PASSWORD:folio_admin}
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_DATABASE:okapi_modules}
  sql:
    init:
      continue-on-error: true
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate.format_sql: true
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/changelog-master.xml
  jackson:
    default-property-inclusion: non_null
folio:
  environment: ${ENV:folio}
  okapi:
    url: ${OKAPI_URL:http://okapi:9130}
  tenant:
    validation:
      enabled: false
  exchange:
    enabled: true
management:
  endpoints:
    web:
      base-path: /admin
      exposure:
        include: ${ACTUATOR_EXPOSURE:health,info,loggers}
  endpoint:
    loggers:
      enabled: true
    health:
      defaults:
        enabled: false
      readinessstate:
        enabled: true
  influx:
    metrics:
      export:
        enabled: false
logging:
  level:
    liquibase: debug
