{
  "configurations": [
   {
     "id": "de17bad7-2a30-4f1c-bee5-f653ded15639",
     "holdingRecordId": "de17bad7-2a30-4f1c-bee5-f753ded15620",
     "status": "Available",
     "materialTypeId": "123r",
     "permanentLoanTypeId": "3456",
     "instanceTitle": "Ins1",
     "itemBarcode": "ABC1",
     "pickupLocation": "LOC1"
   }
  ],
  "totalRecords": 1
}
